@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&family=Source+Code+Pro&display=swap");

* {
  background-color: black;
  color: white;
  font-family: "Source Code Pro", monospace;
  margin: 0px;
  padding: 0px;
  
}

body {
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow: hidden;
}

.align {
  flex-direction: column;
  display: flex;
  margin: auto;
  position: relative;
  top: 0px;
  opacity: 1;
  transition: 1s ease-out;
}
.align h1 {
  font-size: 40px;
  padding: 5px;
  transition: 0.5s border ease;
  z-index: 1;
}
.align #start {
  position: 0px;
  text-align: center;
  position: relative;
  top: -50%;
  transition: 1s top ease-out;
}
.name{
  display:flex;
  flex-direction:column;
  position: absolute;
  top:75%;
  left:80%;
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;

}
.name span{
  margin-top:5%;
}